body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin-bottom: 0;
}
.home-page-container {
  padding-top: 60px; /* Adjust this if the Navbar height changes */
  background-color: #bcdeaf;
}

.user-profile-column {
  padding: 0;
  
}

.recipe-feed-column {
  background-color: #bcdeaf;
}