body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Monaco;
  --bs-body-bg: #bde3ae;
    /* This fixes the white background */
 }
 
 .login-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  color: #007355;
  background-color:#9cce95
 }
 
 .tab {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
 }
 
 .tab button {
  width: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color:#007355;
  color: white;
  border-radius: 10px;
 }
 
 .tab button.active {
  background-color: #c25304;
 }
 
 form div {
  margin-bottom: 10px;
 }
 
 form button {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
 }
 
 .h2{
  color: rgb(8, 0, 0);
  size: 14px;
  text-shadow: 1px 1px #9cce95;
  font-family: Helvetica;
  font-weight: bolder;
 }
 
 .input{
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 20px;
 }
 