
.login-register-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #007355;
  background-color:#9cce95;
}
.logo {
  height: auto;
  width: auto;
  max-height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #007355);
}

.tab-content{
  background-color: white;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control{
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button{
  width: 100%;
}

.nav-tabs .nav-link{
  color: #e9e9e9;
  background-color: #007355;
  border: none;
}

.nav-tabs .nav-link.active{
  color: #848484;
  background-color: white;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}