.profile-page-container {
	background-color: #bcdeaf;
	padding-top: 80px;
	width: 100%;
}

.user-profile{
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

.profile-feed{
	padding-left: 20px;
	padding-right: 20px;
}
