
.home-page-container{
    background-color: #bcdeaf;
    padding-top: 50px;
}

.user-profile-column{
    padding: 0;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}
.recipe-feed-column {
    padding: 0;
    display: flex;
    flex-direction: column;
}

body{
    background-color: #bdbdbd;
}

.h1 {
    font-family: Monaco;
    size: 18px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px #007355;
    color: #c25304;
}

.h3 {
    font-family: Veranda;
    size: 12px;
    text-align: left;
    color: black;
}

img{
    border: 5px solid white;
}

