.home-page-container {
    padding-left: 15px;
    padding-right: 15px;
  }
.user-profile-column {
    padding: 0;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
}
.recipe-feed-column {
    padding: 0;
    display: flex;
    flex-direction: column;
}
