body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #bcdeaf;
  }
  
  .login-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    color: #007355;
  }
  
  .tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .tab button {
    width: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
  }


  
  .tab button.active {
    background-color: #c25304;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }

  h2{
    color: lightgray;
    size: 14px;
    text-shadow: 1px 1px #9cce95;

  }