.feed-container {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
  }
  

  .custom-card-img-left {
    width: auto; 
    height: 100%;
    object-fit: cover; 
  }
  
  .custom-card-img-wrapper {
    height: 100%; 
    display: flex;
    align-items: stretch;
    justify-content: center;
  }